.jumbotron {
	background-image: url("../images/TrainMtn.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center;
	text-align: center;
	text-shadow: 1px 1px #0000ff;
	color: #FFF;
}

body {
	background-color: #A6C3EB;
	font-family: 'Kreon', serif;
	letter-spacing: 1.5px;
}

h1, h2 {
	font-family: 'Vidaloka', serif;
	word-spacing: 10px;
	letter-spacing: 3px;
	line-height: 1.2;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}